# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ============================
# Virtual Environments
# ============================
venv/
.env
.env.*

# ============================
# Logs
# ============================
*.log
logs/
app/logs/

# ============================
# Runtime / Temp files
# ============================
app/temp/*
!app/temp/.gitkeep

# ============================
# Storage sensible
# ============================
app/storage/api_keys.json

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# ============================
# IDEs / Editors
# ============================
.vscode/
.idea/
*.swp

# ============================
# Test / coverage
# ============================
.coverage
htmlcov/
.pytest_cache/

# ============================
# Misc
# ============================
*.sqlite3
